.main-page-content {
  background-image: url("https://images.stripeassets.com/fzn2n1nzq965/115d4Vd5LVAsqFGDR1ClAv/0ceb2c44a7a7182cd624262420af7544/wave-fallback-desktop.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}